body{
    font-family: 'Pacifico', cursive;
    background-color: lightpink;
}

.header_div{
    background: darkmagenta;
    color: cyan;
}

.header_div img{
    width: 100px;
}

.main_div{
    background: rgb(176, 109, 209);
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}

.main_div label{
    background: ;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}

#camera, #result{
    border: 2px solid white;
    width:310px;
    height: 300px;
    box-shadow: 5px 5px 18px pink;
}

.main_div button{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px black;
    border: 1px solid ;
}

.footer_div{
background: whitesmoke;
border-radius: 10px;
padding: 5px;
box-shadow: 5px 5px 18px pink;
}

.footer_div img{
width: 70px;
}

.copy_right_footer{
    position: fixed;
    color: navajowhite;
    bottom: 0;
    width: 100%;
    background-color: goldenrod;
    line-height: 3;
    text-align: center;
}